# Dependencies
node_modules/

# Build artifacts
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# Editor Directories
.vscode/

# Environment Files
.env
